/* ===========================
   HAMKORLAR SECTION
=========================== */
*{
    font-family: "DM Sans", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}


.partners {
  padding: 80px 0;
  overflow: hidden;
}

.partners-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}

.partners-title {
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 50px;
  color: #0b1220;
  font-family: "DM Sans", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

/* Slider */

.partners-slider {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.partners-track {
  display: flex;
  width: max-content;
  animation: scroll 25s linear infinite;
}

.partner-item {
  min-width: 50px;
  height: 100px;
  margin: 0 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  transition: 0.3s ease;
}

.partner-item img {
  max-height: 110px;
  max-width: 160px;
  object-fit: contain;
}

.partner-item:hover {
  opacity: 1;
  transform: scale(1.05);
}

/* Infinite animation */

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* Mobile */

@media (max-width: 768px) {
  .partner-item {
    min-width: 50px;
    margin: 0 20px;
  }

  .partner-item img {
    max-height: 60px;
  }
  .partners-title{
    margin-bottom: 20px;
  }
  .partners{
    padding: 40px 0;
  }
}
